*, body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.header{
    display: flex;
    background: #4d4d4d;
    color: white;
}

#logo{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    font-size: 28px;
    font-weight: bold;
    color:lightsteelblue;
    margin-left: 1rem;
}
#logo h1{
    font-size: 28px;
    display: inline;
    text-decoration: overline;
    border-bottom: 2px solid lightsteelblue;
}
#logo-sub{
    font-size: 14px; 
    color: white; 
    letter-spacing: .3em; 
    font-weight: normal
}
.buttonContainer{
    display: flex;
    padding: 10px;
    width: 40%;
    margin: 0 auto;
}

.toggleButton{
    border: 1px solid #333;
    padding:  10px;
    padding-top: 13px;
    background: white;
    color: #4d4d4d;
    border-right: none;
}


#htmlBtn{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#outputBtn{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.contentWrapper{
    width: 100vw;
    display: flex;
    height: calc(100vh - 66px);
}
.text-area{
    width: 100%;
    height: 100%;
    padding: 2rem 1rem;
}

textarea {
    resize: none;
  }
/* styles for code containers */
.html, .css, .javascript, .output{
    height: calc(100vh - 66px);
    width: 100%;
    border: 1px solid #333;
    display: inline-block;
    border-left: none;
    border-color: grey;
}

/*   styles for pseudoelements and alternate states  */


.toggleButton:hover{
    background: lightgrey;
    cursor: pointer;
    transform: scale(.95)
}
.toggleButton:active{
    background: lightgrey;
}
.selected{
    background: lightsteelblue;
    transform: scale(.95)
}
.hidden{
    display: none;
}

/* media queries for smaller screens */
@media screen and (max-width: 1300px){
    #logo h1{
        font-size: 24px;
    }
    #logo-sub{
        letter-spacing: .2em;
    }

}
@media screen and (max-width: 1150px){
    #logo{
        margin-left: 20px;
    }
    #logo h1{
        font-size: 22px;
    }
    #logo-sub{
        font-size: 12px;
        letter-spacing: .15em;
    }

}
@media screen and (max-width: 980px){
    #logo{
        margin-left: 12px;
    }
    #logo h1{
        font-size: 24px;
    }
    #logo-sub{
        display: none;
    }

    .buttonContainer{
        padding: 8px;
        width: 50%;
        margin-right: 10px;
    }
    
    .toggleButton{
        padding:  8px;
        padding-top: 10px;
    }
}
@media screen and (max-width: 750px){
    .contentWrapper{
        flex-direction: column;
    }
    .html, .css, .javascript, .output{
        border-bottom: none;
    }
    #logo{
        width: 300px;
    }
    #logo h1{
        font-size: 22px;
    }
    #logo-sub{
        font-size: 10px;
    }
    .toggleButton{
        padding:  5px;
        padding-top: 13px;
        font-size: 14px;
    }
    .header{
        justify-content: center;
    }
}

@media screen and (max-width: 460px){
    .header{
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }
    #logo{
        display: inline;
        width: 100vw;
        margin: 0 auto;
        padding: 10px;
    }  
    #logo h1{
        position: relative;
        left: 38%;
    } 
    .buttonContainer{
        margin: 10px;
        padding: 0;
    }
}
@media screen and (max-width: 350px){
    .header{
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
    } 
    #logo{        
        justify-content: center;
        align-items: center;
    }  
    .buttonContainer{
        justify-content: center;
        align-items: center;
        width: 100vw;
        margin: 10px;
    }
}